<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

    <main class="main-shop">
      <section class="shop-category">
        <h1><%=categoria%></h1>
        <article class="shop-category-picture">
          <div class="top-promotion-top">
            <img
              src="/images/panoramic/1080x560_snowboarding_trick_jump_2.jpg"
              alt="man jumping on snowboard"
            />
          </div>
        </article>

        <article class="shop-filter">
          <button>Filtrar por</button>
          <div class="shop-filter-select">
            <select name="shop-filter" id="filter">
              <option value="name">Nombre del producto</option>
              <option value="price">Precio</option>
              <option value="size">Talle</option>
            </select>
          </div>
        </article>
      </section>

      <section class="shop-view">
        <% for(i=0; i<12; i++) { %>
          <article class="shop-view-img article-box-shadow">
            <a href="products/productDetail">
              <div class="shop-product-container">
                <div class="shop-img-container">
                  <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard"/>
                </div>
                <div class="shop-product-info">
                  <div class="shop-article-title">
                    <p><%=titulo[i]%></p>
                  </div>
                  <div class="shop-article-price">
                    <p><%=precio[i]%></p>
                  </div>
                </div>
              </div>
            </a>
          </article>
        <% } %> 
        <article class="shop-view-img article-box-shadow">
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard"/>
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y venida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/975x1461_SkateFlamingo.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>

        <article class="shop-view-img article-box-shadow">
          <!-- comentar este ida y cenida para reconocer 'views' -->
          <a href="products/productDetail">
            <div class="shop-product-container">
              <div class="shop-img-container">
                <img src="/images/tall/1200x1601_snow_berzerker.jpg" alt="snowboard" />
              </div>
              <div class="shop-product-info">
                <div class="shop-article-title">
                  <p>Título</p>
                </div>
                <div class="shop-article-price">
                  <p>$1000</p>
                </div>
              </div>
            </div>
          </a>
        </article>
      </section>

      <section class="shop-more">
        <a href="#" class="shop-more-button">Mostrar más productos</a>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
