<%- include('../partials/head', { title: "Orders" }) %>
  <body>
    <%- include('../partials/header') %>

    <main>
      <section>
        <ul>
          <% for(let i=0; i<orders.length; i++) { %>
            <li>
              <%= i+1 %>
            </li>
            <% for (let detail of orderDetail) { %>
              <li>
                <%= detail.product.name %>
              </li>
              <li>
                <%= detail.amount %>
              </li>
              <li>
                <%= detail.price %>
              </li>
            <% } %>
            <li>
              <%= orders[i].totalPrice %>
            </li>
          <% } %>
        </ul>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>